<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head th:replace="fragments/header :: head"></head>

<body>

<div th:replace="fragments/header :: header"></div>

<div id=missingCharityMessage th:if="${charity ==  null }">
    <div>No matching charity</div>
</div>

<main role="main" class="container mt-4">
    <div class="starter-template">
        <div id=charityInfo th:if="${charity}">

            <div class="row mt-4">
                <div class="col-sm">
                    <img th:attr="src=@{'/images/'+${charity.logoPath}+'.png'}"/>
                </div>
                <div class="col-md">
                    <H3 th:text="${charity.name}">

                    </H3>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg border border-primary">
                    <div th:text="${charity.description}"></div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg">
                    <a class="btn btn-primary btn-lg btn-block" th:id="@{donateLink{id} (id=${charity.id})}"
                       th:href="@{/donate/{id} (id=${charity.id})}">
                        <span>Donate</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    </div>

</main>


<div th:replace="fragments/footer :: footer">
</div>


</body>
</html>