<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments/header :: head"></head>

<body>

<div th:replace="fragments/header :: header"></div>

<main role="main" class="container mt-4">
    <div class="starter-template">

        <div id=paymentConfirmation class="row">

            <h3>Thank you :
                <div th:text=" ${donor.name}">

                </div>
            </h3>

        </div>
        <div id="sponsorDetails" th:if="${sponsor != null}">
            Through: <span th:text="${sponsor.fundraiserName}"></span>
        </div>
        <div class="row mt-4 h3">

            <span class="badge badge-secondary"
                  th:text="'You have donated £' + ${#numbers.formatDecimal(donor.donationAmount,1,2)} + ' to:'"></span>
            <div id="charityDetails">
                <!-- Inject Charity Details here-->
            </div>
        </div>

    </div>

    </div>
</main>


<div th:replace="fragments/footer :: footer">
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/js/dustjs-2.7.2/dist/dust-full.js"></script>
<script src="/js/js-url-2.5.3/url.js"></script>
<script src="/js/app/charity.js"></script>

<script th:inline="javascript">

    var id = [[${id}]];


</script>


<script type="text/javascript">

    var template =
        "<img src=\"/images/{logoPath}.png\"/>" +
        "<div>{name}" +
        "</div>";


    // Compile the template under the name 'hello'
    var compiled = dust.compile(template, 'charityInfo');
    // Register the template with Dust
    dust.loadSource(compiled);


    $(document).ready(function () {
        injectCharity(id);
    });

</script>


</body>
</html>